@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// your custom variables
@import "./variables.scss";

// UIkit default variables and mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "my-mixins-theme.scss";

// import UIkit
@import "uikit/src/scss/uikit-theme.scss";

.text-balance {
	text-wrap: balance;
}

/* FLEX */
.uk-d-grid {
	display: grid;
	gap: 20px;
	&.uk-d-grid-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&.uk-d-grid-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* BUTTON */
.uk-button {
	.uk-button-3d {
		box-shadow: 0 3px 0 $global-border;
		&:active {
			margin-bottom: -7px;
			box-shadow: 0 2px 0 darken($global-primary-background, 15%);
		}
	}
}

/* Nav */
.uk-navbar-nav > li a.uk-active {
	color: $navbar-nav-item-active-color;
	font-weight: bold;
}
.router-link-active {
	@extend .uk-active;
}

/* Hover */
a:hover {
	color: $nav-primary-item-hover-color;
	@if(mixin-exists(hook-nav-primary-item-hover)) {@include hook-nav-primary-item-hover();}
}

/* Active */
.router-link-active {
	color: $nav-primary-item-active-color;
}

/* CARD */
.uk-card {
	transition: box-shadow .1s ease-in-out;
}

/* HOME */
#projects {
	.uk-card {
		transition: all .15s ease-in;
		&:hover {
			transform: translateY(-5px);
		}
	}
}
#projects-alt {
	.uk-card {
		padding-top: 20px;
		padding-bottom: 20px;
		transition: all .1s ease-in;
		box-shadow: 0 8px 0 darken($global-primary-background, 15%);
		.uk-flex {
			gap: 20px;
			img {
				padding: 10px;
				box-sizing: content-box;
				background-color: white;
				@extend .uk-border-rounded;
				display: block;
				@media (max-width: $breakpoint-small) {
					width: 35px;
				}
			}
		}
		
		&:hover {
			transform: translateY(7px);
			box-shadow: 0 2px 0 darken($global-primary-background, 15%);
		}
	}
}

/* DONATIONS */
#donations {
	.btn-container {
		@media (min-width: $breakpoint-medium) {
			margin-left: auto;
			margin-right: auto;
			max-width: 70%;
		}
	}
	.uk-button {
		box-shadow: 0 6px 0 darken($global-primary-background, 15%);
		&:active {
			margin-bottom: -7px;
			box-shadow: 0 2px 0 darken($global-primary-background, 15%);
		}
	}
	img {
		@extend .uk-border-rounded;
		margin-top: -20px;
		margin-left: -15px;
		border: solid 1px grey;
		box-shadow: 0 3px 0 grey;
	}
}